.box_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    padding: 30px 0px ;
    margin: 10px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px grey;

}

.box_icons{
    background-color: #dddddd;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 40px;
    
    justify-content: space-between;
}

.icon_name {
    margin-top: 10px;
    font-size: small;
    text-align: center;
    color: black;
}

.display_none{
    display: none;
}